/* /* .testOne {
    background: orchid;
} */

/* .toggleTest {
    border: 3px solid rgb(111, 175, 32);
}


.bg2 {
    border: 5px solid rgb(14, 208, 238);
    background-color: aqua;
    font-style: italic;
    max-width: 150px;
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
}

.out3 {
    border: 5px solid rgb(166, 15, 86);
    max-width: 150px;
    height: 25px;
    font-size: 34px;
}

.bg7 {
    border: 5px solid rgb(166, 15, 86);
    max-width: 150px;
}  */